version: "3"

networks:
  monitoring-network:

volumes:
  app_data:


services:
  app_python:
    container_name: monitoring.app_python
    image: "behouba/devops-labs:latest"
    volumes:
      - app_data:/app
    ports:
      - "5000:5000"
    networks:
      - monitoring-network
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
        tag: "{{.ImageName}}|{{.Name}}"
    mem_limit: 300m

  loki:
    container_name: monitoring.loki
    image: "grafana/loki:2.5.0"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - monitoring-network
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "100m"
    mem_limit: 300m

  promtail:
    container_name: monitoring.promtail
    image: "grafana/promtail:2.5.0"
    volumes:
      - /var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitoring-network
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "100m"
    mem_limit: 300m

  grafana:
    container_name: monitoring.grafana
    image: "grafana/grafana:latest"
    ports:
      - "3000:3000"
    networks:
      - monitoring-network
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "100m"
    mem_limit: 300m


  prometheus:
    container_name: monitoring.prometheus
    image: "prom/prometheus:v2.18.1"
    volumes:
      - /home/behouba/Desktop/devOpsLab/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    restart: unless-stopped
    expose:
      - 9090
    ports:
      - "9090:9090"
    networks:
      - monitoring-network
    logging:
        driver: "json-file"
        options:
          max-file: "5"
          max-size: "100m"
    mem_limit: 300m